.tri-three2 {
  width: 0; 
  height: 0; 
  border-top: 600px solid transparent;
  border-bottom: 90px solid transparent;
  border-left: 300px solid #DAFEB7;
  z-index: -1;
  position: absolute;
  transform: rotate(45deg);
}