.tri-three2 {
  width: 0; 
  height: 0; 
  border-top: 600px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 300px solid #DAFEB7;
  z-index: -1;
  position: absolute;
  transform: rotate(45deg);
  transform:translateX(200%);
}

.synonym {
  color: #dafeb7;
  text-decoration: none;
  transition-duration: 100ms;
  
  text-shadow: 1px 1px 2px #000;
  z-index: 1
}

.synonym:hover {
  transition-duration: 100ms;
  color: #6d7275;
}

@media all and (max-width: 768px) {
  .tri-three2 {
    border-top: 500px solid transparent;
    border-bottom: 1000px solid transparent;
    border-left: 500px solid #DAFEB7;
    transform: rotate(180deg);
    text-align: right;
    top: 110%;
    right: 0%;
  }
}